.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 10px;
}

.flex-container li {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-container article {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-container li {
        margin: 10px 0;
    }
}